<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Salon_App_WPF.Properties.DefaultSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Salon_App_WPF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Salon_App_WPF.Properties.DefaultSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="Salon_App_WPF.Properties.Default" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Salon_App_WPF.Properties.Settings.DBConnStr" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\SalonDB.mdf;Integrated Security=False"
            providerName="System.Data.SqlClient" />
        <add name="Salon_App_WPF.Properties.Default.DBConnStr" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\SalonDB.mdf;Integrated Security=False"
            providerName="System.Data.SqlClient" />
        <add name="Salon_App_WPF.Properties.DefaultSettings.DBConnStr"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=Path\SalonDB.mdf;Integrated Security=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Salon_App_WPF.Properties.DefaultSettings>
            <setting name="OverIcon" serializeAs="String">
                <value>#FFAF44F9</value>
            </setting>
            <setting name="MainWindowText" serializeAs="String">
                <value>Gainsboro</value>
            </setting>
            <setting name="HomeOpacity" serializeAs="String">
                <value>0.4</value>
            </setting>
            <setting name="HomeText" serializeAs="String">
                <value>#DDCBAC59</value>
            </setting>
        </Salon_App_WPF.Properties.DefaultSettings>
        <Salon_App_WPF.Properties.Settings>
            <setting name="TopGrid" serializeAs="String">
                <value>#4c4d6b</value>
            </setting>
            <setting name="SideMenu" serializeAs="String">
                <value>#303145</value>
            </setting>
            <setting name="FormsGrid" serializeAs="String">
                <value>#292c3b</value>
            </setting>
            <setting name="MouseOver" serializeAs="String">
                <value>#41425e</value>
            </setting>
            <setting name="Text" serializeAs="String">
                <value>#FF673AB7</value>
            </setting>
            <setting name="ImageBorder" serializeAs="String">
                <value>#FF4C4D6B</value>
            </setting>
            <setting name="UserFormIcon" serializeAs="String">
                <value>#FF13141B</value>
            </setting>
            <setting name="GridBackground" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="MainWindowIcon" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="OverIcon" serializeAs="String">
                <value>#FFAF44F9</value>
            </setting>
            <setting name="MainWindowText" serializeAs="String">
                <value>Gainsboro</value>
            </setting>
            <setting name="HomeOpacity" serializeAs="String">
                <value>0.4</value>
            </setting>
            <setting name="HomeText" serializeAs="String">
                <value>#DDCBAC59</value>
            </setting>
            <setting name="WindowLeft" serializeAs="String">
                <value>142</value>
            </setting>
            <setting name="WindowTop" serializeAs="String">
                <value>238</value>
            </setting>
            <setting name="WindowHeight" serializeAs="String">
                <value>659</value>
            </setting>
            <setting name="WindowWidth" serializeAs="String">
                <value>989</value>
            </setting>
        </Salon_App_WPF.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Salon_App_WPF.Properties.DefaultSettings>
            <setting name="TopGrid" serializeAs="String">
                <value>#4c4d6b</value>
            </setting>
            <setting name="SideMenu" serializeAs="String">
                <value>#303145</value>
            </setting>
            <setting name="FormsGrid" serializeAs="String">
                <value>#292c3b</value>
            </setting>
            <setting name="MouseOver" serializeAs="String">
                <value>#41425e</value>
            </setting>
            <setting name="Text" serializeAs="String">
                <value>#FF673AB7</value>
            </setting>
            <setting name="ImageBorder" serializeAs="String">
                <value>#FF4C4D6B</value>
            </setting>
            <setting name="UserFormIcon" serializeAs="String">
                <value>#FF13141B</value>
            </setting>
            <setting name="GridBackground" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="MainWindowIcon" serializeAs="String">
                <value>Black</value>
            </setting>
        </Salon_App_WPF.Properties.DefaultSettings>
        <Salon_App_WPF.Properties.Default>
            <setting name="TopGrid" serializeAs="String">
                <value>#4c4d6b</value>
            </setting>
            <setting name="SideMenu" serializeAs="String">
                <value>#303145</value>
            </setting>
            <setting name="FormsGrid" serializeAs="String">
                <value>#292c3b</value>
            </setting>
            <setting name="MouseOver" serializeAs="String">
                <value>#41425e</value>
            </setting>
            <setting name="Text" serializeAs="String">
                <value>#FF673AB7</value>
            </setting>
            <setting name="ImageBorder" serializeAs="String">
                <value>#FF4C4D6B</value>
            </setting>
            <setting name="UserFormIcon" serializeAs="String">
                <value>#FF13141B</value>
            </setting>
            <setting name="GridBackground" serializeAs="String">
                <value>White</value>
            </setting>
        </Salon_App_WPF.Properties.Default>
    </applicationSettings>
</configuration>